.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

body {
  background-color: white;
  font-family: "Poppins", serif !important;
}

header .header {
  margin-left: 50px;
  margin-right: 50px;
}
header .container {
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 0;
}
header .header span img {
  max-width: 100px;
  height: auto;
}
header a {
  font-weight: bold;
}
header a, header ul {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
header .nav-link {
  color: #000000 !important;
  position: relative;
  padding: 0 0px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s ease;
}
header .nav-link:hover {
  color: black !important;
  font-weight: bold;
}
header .nav-item {
  display: flex;
  align-items: center;
}
header button {
  font-weight: bold !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #000000 !important;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
}
header #burger {
  display: none;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
}
.hero-section .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
  z-index: -1;
}
.hero-section .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}
.hero-section .overlay-text h1 {
  font-weight: 600;
  font-size: 42px;
}

.glide-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.glide-container h1 {
  margin-bottom: 20px;
  color: #D63030;
  text-align: center;
  font-weight: 600;
}
.glide-container p {
  max-width: 1100px;
}

.glide {
  width: 80%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.glide .glide__slides .glide__slide img {
  width: 100%;
  height: auto;
  max-width: 1350px;
  max-height: 500px;
  border-radius: 0px;
  object-fit: cover;
}
.glide .glide__arrows {
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 0.5fr);
  gap: 25px;
}

.designs-section {
  padding: 40px 100px;
}
.designs-section .sections-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.designs-section .sections-grid .sections-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f1ec;
  border: none;
  padding: 20px;
  max-width: 280px;
  height: 420px;
  flex: 1 1 calc(25% - 20px);
  border-radius: 5px;
}
.designs-section .sections-grid .sections-card h3 {
  font-weight: 550;
  font-size: 20px;
}
.designs-section .sections-grid .sections-card .sections-img {
  max-width: 220px;
  height: 300px;
  border-radius: 0px;
  padding-bottom: 10px;
  object-fit: cover;
}
.designs-section .sections-grid .sections-card .explore-btn {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 10px 20px;
  text-align: center;
  background-color: #D63030;
  color: white;
  border-radius: 5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
.designs-section .sections-grid .sections-card .explore-btn:hover {
  scale: 1, 1;
  color: white;
  transform: scale(1.1);
}

.footer {
  padding: 40px 80px;
  border-top: 5px solid #c1c1f0;
  position: relative;
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footer-container img {
  max-width: 200px;
  padding-bottom: 30px;
  height: auto;
}
@media (max-width: 768px) {
  .footer .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer .footer-section {
  flex: 1;
  margin: 0 10px;
}
.footer .footer-section.info-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer-section h4 {
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 800;
  color: #ADADAD;
  font-variant: all-small-caps;
  letter-spacing: 1.5px;
}
.footer .footer-section ul {
  list-style: none;
  padding: 0;
}
.footer .footer-section ul li {
  margin-bottom: 10px;
}
.footer .footer-section ul li a {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
}
.footer .footer-section ul li a:hover {
  text-decoration: underline;
}
.footer .footer-section p {
  font-size: 18px;
  color: #000000;
}
.footer .footer-section p a {
  color: #6c5ce7;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
}
.footer .footer-section p a:hover {
  text-decoration: underline;
}
.footer .social-media ul {
  display: flex;
  gap: 10px;
}
.footer .social-media ul li a {
  display: inline-block;
}
.footer .social-media ul li a img {
  width: 50px;
  height: auto;
}
.footer .info-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .info-links ul li {
  font-size: 16px;
  flex: 0 0 calc(33.33% - 10px);
}
.footer .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .contact-form form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}
.footer .contact-form form .form-group input {
  padding: 10px;
  border: none;
  background-color: #C2C2C2;
  border-radius: 15px;
  font-size: 16px;
}
.footer .contact-form form .form-group .leave-message {
  color: #000000;
}
.footer .contact-form form .form-group .phone-input {
  display: flex;
  gap: 10px;
}
.footer .contact-form form .form-group .phone-input .phone {
  width: 90%;
}
.footer .contact-form form .form-group .phone-input select {
  width: 10%;
  padding: 10px;
  border: none;
  background-color: #D63030;
  border-radius: 15px;
  font-size: 16px;
  color: white;
}
.footer .contact-form form .send-btn {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 850px) {
  .body {
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #burger {
    display: flex !important;
  }
  #grid-icon {
    display: none;
  }
  .nav {
    display: none;
  }
  .highlight-desktop {
    display: none;
  }
  .header-desktop-text {
    display: none;
  }
  .header-mobile-text {
    font-size: 24px !important;
    display: inline-block;
    padding: 10px;
    text-shadow: 0 2px 0.3px #fff;
  }
  .glide-container p {
    max-width: 600px;
  }
  .contact-form {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
